@charset "utf-8";
//@import "normalize";
@import "variables";
@import "code-of-conduct";

a {
  color: $tertiary-color;

  &:hover {
    color: $primary-color;
  }
}

.hero {
  background: url('/images/edoc-adam-crowd.jpg') 0 0;

  .logo-container {
    padding-top: 5.25rem;

  }

  .event-info {
    padding-top: 4rem;
    margin-bottom: 2.5rem;

    .date {
      padding-bottom: 0;
    }
  }
}

section, .event-description, #mailing-list-signup {
  padding-top: 3rem;
  padding-bottom: 3rem;
  //border-top: 1px dashed $tertiary-color;

  h1 {
    text-align: center;
    color: black;
  }
}

#mailing-list-signup {
  background-color: $tertiary-color;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}


#lodging {
  background-color: $primary-color;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
  }

  h3 a {
    color: white;
  }

  color: white;

  .site-notice {
    color: black;
  }

  .lodging-info {
    text-align: center;
  }

  a {
    color: $secondary-color;
  }
}


body {
  //background: #ECC561;
  //text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.event-info {
  h1 {
    font-size: 2.0rem;
    text-align: center;
  }

  h2 {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  h3, h4 {
    font-wight: 400;
  }

  .purchase-button-wrap {
    text-align: center;
  }
}

section h1 {
  padding-bottom: 3rem;
}

.bg-primary {
  background-color: $primary-color !important;

  a {
    color: white;

    &:hover {
      color: $secondary-color;
    }
  }
}
.btn-primary {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

.btn-primary-outline {
  border: 1px solid $primary-color;
  color: $primary-color;
}

img {
  width: 100%;
}

h1 {
  color: $primary-color;
}

h2 {
  color: $secondary-color;
}

h3 {
  color: $tertiary-color;
  font-size: 1.5rem;
}

.site-footer {
  border-top: 2px dashed $primary-color;
  margin-top: 20px;
  padding: 3rem 0;
  text-align: center;
  background-color: $primary-color;
  color: white;

  a {
    color: $secondary-color;
  }
}

address {
  p {
    margin: 0;
  }
}

.home > section {

}

#ticket-purchase .instructions {
  text-align: center;
}

.speaker {
  text-align: center;
  padding-bottom: 2rem;

  .name {
    font-size: 1.4rem;
    font-weight: 700;
    color: $neutral-color;
  }

  .talk-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: $secondary-color;
  }

  .info {
    font-size: 1.0rem;
  }
}

.speaker-photo {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
}

.site-notice {
  text-align: center;
  color: $neutral-color;
}

#venue {
  background-color: $tertiary-color;
  color: white;

  .name {
    margin: 0;
    color: black;

    a {
      color: black;
    }
  }

  .venue-photo {
    width: 100%;
  }

  .embedded-map {
    text-align: center;
    margin-top: 2rem;
  }

  .site-notice {
    margin-top: 2rem;
    color: $secondary-color;
  }
}

#sponsors {
  .prospectus-text {
    text-align: center;
    font-size: 1.25rem;
  }

  section {
    border-bottom: 1px solid $neutral-color;

    &:last-child {
      border-bottom: none;
    }

    h1 {
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
      color: $secondary-color;
    }
  }

  .sponsor {
    text-align: center;
    margin-bottom: 30px;
    .logo {
      max-width: 100%;
      display: block;
    }
  }

  #sponsor-platinum .sponsor .logo {
    max-height: 750px;
    max-width: 500px;
  }

  #sponsor-gold .sponsor .logo {
    //max-height: 750px;
    //max-width: 500px;
  }

  #sponsor-silver {
    padding-bottom: 0;
  }


  #sponsor-community {
    .community-support {
      font-size: 1.5rem;
    }
  }
}

#lodging {
  .distance {
    color: $secondary-color;
  }
}

.event-description {
}

.purchase-button-wrap {
  margin-top: 20px;
  text-align: center;
}

#agenda {
  .time {
    color: $primary-color;
    font-weight: bold;
  }

  .title {
    margin-top: 0;
    font-size: 1.2rem;
  }

  .speaker-name {
    margin-top: 10px;
    font-size: 1.1rem;
    text-align: center;
    color: #373a3c;
  }

  .agenda-row {
    &:last-child {
      border-bottom: none;
    }

    &.talk .title{
      color: $tertiary-color;
    }

    &.other .title {

    }
    margin-top: 10px;
    border-bottom: 1px dotted #ccc;
  }

  .speaker-col {
    text-align: center;
  }
}

.today .agenda-row {
  .time-col {
    font-size: 0.75rem;
  }

}
