@charset "utf-8";
//@import "normalize";
@import "variables";
@import "code-of-conduct";

a {
  color: $tertiary-color;

  &:hover {
    color: $primary-color;
  }
}

section, .venue-photo, .logo-container {
  margin-top: 20px;
}

body {
  //background: #ECC561;
  //text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Merriweather", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.event-info {
  h1 {
    font-size: 2.0rem;
    text-align: center;
  }

  h3, h4 {
    font-wight: 400;
  }
}

.bg-primary {
  background-color: $primary-color !important;

  a {
    color: white;

    &:hover {
      color: $tertiary-color;
    }
  }
}
.btn-primary {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

.btn-primary-outline {
  border: 1px solid $primary-color;
  color: $primary-color;
}

img {
  width: 100%;
}

h1 {
  color: $primary-color;
}

h2 {
  color: $secondary-color;
}

h3 {
  color: $tertiary-color;
  font-size: 1.5rem;
}

.site-footer {
  border-top: 2px dashed $primary-color;
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
}

address {
  p {
    margin: 0;
  }
}

.home > section {
  margin-top: 20px;
  border-top: 1px dashed $tertiary-color;
  padding-top: 15px;

  h1 {
    text-align: center;
  }

  &#mailing-list-signup {
    h2 {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

.speaker {
  text-align: center;

  .name {
    font-size: 18px;
    color: $neutral-color;
  }

  .talk-title {
    font-size: 16px;
  }

  .info {
    //font-size: 16px;
  }
}

.speaker-photo {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
}

.site-notice {
  text-align: center;
  color: $neutral-color;
}

#venue {
  .name {
    font-size: 1rem;
    margin: 0;
    margin-top: 20px;
  }

  .embedded-map {
    text-align: center;
  }
}

#sponsors {
  .prospectus-text {
    text-align: center;
    font-size: 1.25rem;
  }

  section {
    border-bottom: 1px solid $neutral-color;

    &:last-child {
      border-bottom: none;
    }

    h1 {
      font-size: 1.5rem;
      color: $secondary-color;
    }
  }

  .sponsor {
    text-align: center;
    .logo {
      max-height: 250px;
      max-width: 250px;
    }
  }
}

#lodging {
  .distance {
    color: $secondary-color;
  }
}

.event-description {
  margin-top: 15px;
}
